/*
0-600px: iPhone
600-900px: iPad portrait
900-1200px: iPad landscape
[1200-1800px]: is where our normal styles apply
1800px+: MacPro

$breakpoint arguement chocies:
- iPhone
- iPad-port
- iPad-land
- MacPro

ORDER: Base + typography > general layout + grid > page layout > components
*/
/* RESET */
:root {
  --color-grey-dark: #2B2B2B;
  --color-grey-light: #AAAAAA;
  --color-white: #fff;
  --color-black: #132C33;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*every element will automatically inherit the body's box-sizing*/ }

html {
  /* font-size: 10px; /*instead of the deafault browser 16px --> now 1rem = 10px*/
  font-size: 62.5%;
  /* equals to 10px if setting are normal but will change according to users needs*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-grey-dark); }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem);
    /*to make it go a bit further than bounce back to position 0*/ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem);
    /*to make it go a bit further than bounce back to position 0*/ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.upper-box__text {
  background-color: var(--color-white);
  color: var(--color-black);
  align-self: flex-end;
  padding: 6rem 2rem 0 8rem;
  margin-left: -18rem; }
  @media only screen and (max-width: 400px) {
    .upper-box__text {
      margin-left: 0;
      padding: 5rem 0;
      align-self: center;
      text-align: center; } }

.upper-box__heading {
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.upper-box__paragraph {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  line-height: 1.5; }

.bottom-box__heading {
  font-size: 3.5rem;
  font-weight: 200;
  text-transform: uppercase; }
  @media only screen and (max-width: 400px) {
    .bottom-box__heading {
      font-size: 4.5rem; } }

.bottom-box__heading-secondary {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  padding-right: 8rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (12rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (18rem)) / 4); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - (12rem)) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - (18rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - (18rem)) / 4) + (2 * 6rem)); }

.container {
  max-width: 140rem;
  margin: 0 20rem;
  min-height: 200rem; }
  @media only screen and (max-width: 400px) {
    .container {
      margin: 0; } }

.header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  padding: 2rem 10rem 4rem; }
  @media only screen and (max-width: 400px) {
    .header {
      background-image: url("../images/mobile/image-hero.jpg");
      height: 100rem;
      padding: 4.5rem; } }
  .header__upper-box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    height: 2.5rem; }
  .header__list {
    list-style: none; }
  .header__item {
    display: inline-block; }
    .header__item:not(:last-child) {
      margin-right: 1.3rem; }
      @media only screen and (max-width: 400px) {
        .header__item:not(:last-child) {
          margin-right: .4rem; } }
  .header__link {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: bolder; }
    @media only screen and (max-width: 400px) {
      .header__link {
        font-size: .8rem; } }
    .header__link:hover {
      cursor: pointer;
      border-bottom: 2px solid var(--color-white); }
  .header__bottom-box {
    margin-top: 10rem;
    width: 55%;
    border: 1px solid var(--color-white); }
    @media only screen and (max-width: 400px) {
      .header__bottom-box {
        width: 100%;
        margin-top: 20rem; } }
  .header__heading {
    color: var(--color-white);
    font-weight: 200;
    font-size: 5rem;
    text-transform: uppercase;
    padding: 1.5rem; }
    @media only screen and (max-width: 400px) {
      .header__heading {
        line-height: 1.5;
        padding-right: 4rem; } }

.main {
  background-color: var(--color-white);
  padding: 12rem; }
  @media only screen and (max-width: 400px) {
    .main {
      padding: 5rem; } }

.upper-box {
  display: flex; }
  @media only screen and (max-width: 400px) {
    .upper-box {
      flex-direction: column;
      align-items: center; } }
  .upper-box__image {
    width: 70rem; }
    @media only screen and (max-width: 400px) {
      .upper-box__image {
        width: 45rem; } }

.bottom-box {
  margin-top: 10rem; }
  @media only screen and (max-width: 400px) {
    .bottom-box {
      margin-top: 3rem; } }
  .bottom-box__btn {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    padding: 1rem 4rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2.5px;
    transition: all 0.2s; }
    @media only screen and (max-width: 400px) {
      .bottom-box__btn {
        padding: .8rem 12rem;
        border-radius: 10px;
        margin-top: 3rem; } }
    .bottom-box__btn:hover {
      cursor: pointer; }
    .bottom-box__btn:active {
      background-color: var(--color-black);
      color: var(--color-white);
      transform: scale(1.1);
      letter-spacing: 3px; }
  .bottom-box__photo-container {
    position: relative; }
  .bottom-box__photo {
    margin-top: 1.2rem;
    transition: transform 0.2s; }
    @media only screen and (max-width: 400px) {
      .bottom-box__photo {
        margin-top: 2rem;
        flex: 1; } }
    .bottom-box__photo:hover {
      cursor: pointer; }
    .bottom-box__photo:active {
      opacity: 0.6;
      transform: scale(1.05); }

.first {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 400px) {
    .first {
      flex-direction: column; } }

.second {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media only screen and (max-width: 400px) {
    .second {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; } }

.footer {
  background-color: black;
  padding: 3rem 12rem; }
  .footer__upper {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 400px) {
      .footer__upper {
        flex-direction: column;
        align-items: center; } }
  .footer__logo {
    height: 2.5rem; }
    @media only screen and (max-width: 400px) {
      .footer__logo {
        margin-bottom: 2rem; } }
  .footer__icon {
    fill: var(--color-white);
    width: 2.2rem;
    height: 2.2rem; }
    .footer__icon:not(:last-child) {
      margin-right: 1.5rem; }
    .footer__icon:hover {
      cursor: pointer;
      border-bottom: 2px solid var(--color-white); }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem; }
    @media only screen and (max-width: 400px) {
      .footer__bottom {
        flex-direction: column;
        align-items: center; } }
  .footer__list {
    list-style: none; }
    @media only screen and (max-width: 400px) {
      .footer__list {
        text-align: center; } }
  .footer__item {
    display: inline-block; }
    @media only screen and (max-width: 400px) {
      .footer__item {
        display: block; } }
    .footer__item:not(:last-child) {
      margin-right: 1.3rem; }
      @media only screen and (max-width: 400px) {
        .footer__item:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem; } }
  .footer__link {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.3rem;
    font-size: 400; }
    .footer__link:hover {
      cursor: pointer;
      border-bottom: 2px solid var(--color-white); }
  .footer__paragraph {
    color: var(--color-grey-light);
    font-size: 1.2rem; }
    @media only screen and (max-width: 400px) {
      .footer__paragraph {
        margin-top: 2rem; } }
